
@{
    ViewData["Title"] = "DataLog";
}

<h2>Data Log</h2>
<table>
    <tr>
        <th>Heart Rate</th>
        <th>Tremble</th>
        <th>Emergency</th>
        <th>Timestamp</th>
    </tr>
    <tr>
        <td>80</td>
        <td>5</td>
        <td>no</td>
        <td>no</td>
    </tr>
    <tr>
        <td>78</td>
        <td>5</td>
        <td>no</td>
        <td>no</td>
    </tr>
    <tr>
        <td>80</td>
        <td>5</td>
        <td>no</td>
        <td>no</td>
    </tr>
    <tr>
        <td>80</td>
        <td>5</td>
        <td>no</td>
        <td>no</td>
    </tr>
</table>
